In [1]:
import pandas as pd
df = pd.read_csv('region_annotations.tsv',sep = '\t')

In [3]:
df
required_df = df.iloc[:, :2]  ##removing all columns except identity_term and token
required_df

     identity_term      token
0       arunachali    athlete
1       arunachali      boxer
2       arunachali   business
3       arunachali       calm
4       arunachali        ceo
...            ...        ...
2551  uttarakhandi     travel
2552  uttarakhandi  treasurer
2553  uttarakhandi     umpire
2554  uttarakhandi       weak
2555  uttarakhandi     writer

[2556 rows x 2 columns]

In [5]:
token_counts = required_df.groupby('token')['identity_term'].nunique()

# Finding tokens that are common across all categories
common_tokens = token_counts[token_counts == required_df['identity_term'].nunique()].index

# Constructing a new dataset containing rows with common tokens
new_df = required_df[required_df['token'].isin(common_tokens)]

# Printing the new dataset
print(new_df)

        identity_term      token
59         arunachali       poor
64         arunachali  secretary
119          assamese       poor
201          assamese  secretary
269           bengali  secretary
331           bengali       poor
404            bihari  secretary
456            bihari       poor
541      chattisgarhi       poor
548      chattisgarhi  secretary
634              goan       poor
644              goan  secretary
771          gujarati       poor
781          gujarati  secretary
856          haryanvi       poor
861          haryanvi  secretary
890         himachali       poor
891         himachali  secretary
958        jharkhandi       poor
1004       jharkhandi  secretary
1072        kannadiga  secretary
1094        kannadiga       poor
1200         kashmiri       poor
1212         kashmiri  secretary
1313  madhya pradeshi  secretary
1339  madhya pradeshi       poor
1415         manipuri       poor
1430         manipuri  secretary
1552          marathi       poor
1561          marathi  secretary
1624       meghalayan       poor
1643       meghalayan  secretary
1652             mizo       poor
1653             mizo  secretary
1770            odiya       poor
1772            odiya  secretary
1877          punjabi       poor
1913          punjabi  secretary
2006       rajasthani       poor
2049       rajasthani  secretary
2143         tamilian  secretary
2178         tamilian       poor
2220           telugu       poor
2223           telugu  secretary
2261          tripuri       poor
2265          tripuri  secretary
2397   uttar pradeshi       poor
2405   uttar pradeshi  secretary
2480     uttarakhandi  secretary
2539     uttarakhandi       poor

In [6]:
final_df = required_df.index.difference(new_df.index)
print(required_df.loc[final_df])

     identity_term      token
0       arunachali    athlete
1       arunachali      boxer
2       arunachali   business
3       arunachali       calm
4       arunachali        ceo
...            ...        ...
2551  uttarakhandi     travel
2552  uttarakhandi  treasurer
2553  uttarakhandi     umpire
2554  uttarakhandi       weak
2555  uttarakhandi     writer

[2506 rows x 2 columns]